body {
  font-family: Microsoft JHenghei, sans-serif;
}

.jf-loading body {
  opacity: 0;
  visibility: hidden;
}

.jf-active *,
.jf-inactive * {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.parallax-container {
  height: 80vh;
}

.responsive-img {
  -o-object-fit: cover;
  object-fit: cover;
}

#home .logo {
  position: relative;
  padding: 1.2rem;
  padding-right: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Sunbeams;
  font-size: 7.2rem;
  font-weight: normal;
  letter-spacing: 0.8rem;
  text-shadow: 4px 4px 8px black;
}

.page-footer .divider {
  background-color: rgba(51, 51, 51, 0.08);
}

address {
  font-style: normal;
}

.social-button {
	vertical-align: middle;
	margin: 0 0.2rem 0 0.2rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
}

.social-button:hover {
  text-shadow: 2px 2px black;
}

.social-button.facebook-link {
  background-color: #3e5b98;
}

.social-button.facebook-link:hover {
  background-color: #5875b2;
}

.social-button.instagram-link {
  background-color: #9c7c6e;
}

.social-button.instagram-link:hover {
  background-color: #b69688;
}

.social-button.yahoo-link {
  background-color: #6e2a85;
}

.social-button.yahoo-link:hover {
  background-color: #88449f;
}

.social-button.googleplus-link {
  background-color: #dd4b39;
}

.social-button.googleplus-link:hover {
  background-color: #f76553;
}
