.jf-loading body {
  opacity: 0;
  visibility: hidden;
}

.jf-active *,
.jf-inactive * {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.parallax-container {
  height: 80vh;
}

.responsive-img {
  -o-object-fit: cover;
  object-fit: cover;
}

#gallery > div > ul > li.active  {
  box-shadow: 0 0 0;
}

#gallery .collapsible-header {
  padding: 0.5rem;
  padding-left: 1rem;
  height: 6rem;
  max-height: 6rem;
  transition: max-height 0.15s ease-out;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 1rem;
}

#gallery .collapsible-header.active {
  max-height: 4rem;
  transition: max-height 0.25s ease-in;
}

#gallery .footnote {
  text-align: right;
  font-size: 1rem;
}

#yard-sale .collapsible-header {
  background: linear-gradient(
                to right,
                rgba(255,255,255,0),
                rgba(255,255,255,1) 1000px),
              url(../images/gallery/w0-h.jpg);
}

#marguerite .collapsible-header {
  background: linear-gradient(
                to right,
                rgba(255,255,255,0),
                rgba(255,255,255,1) 1000px),
              url(../images/gallery/w1-h.jpg);
}

#modern-chinese .collapsible-header {
  background: linear-gradient(
                to right,
                rgba(255,255,255,0),
                rgba(255,255,255,1) 1000px),
              url(../images/gallery/w2-h.jpg);
}

#m-plus-e-is-love .collapsible-header {
  background: linear-gradient(
                to right,
                rgba(255,255,255,0),
                rgba(255,255,255,1) 1000px),
              url(../images/gallery/w3-h.jpg);}

#picnic .collapsible-header {
  background: linear-gradient(
                to right,
                rgba(255,255,255,0),
                rgba(255,255,255,1) 1000px),
              url(../images/gallery/w4-h.jpg);}

#garden .collapsible-header {
  background: linear-gradient(
                to right,
                rgba(255,255,255,0),
                rgba(255,255,255,1) 1000px),
              url(../images/gallery/w5-h.jpg);}

#questionnaire-modal .modal-content {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;  
}

address {
  font-style: normal;
}
