.jf-loading body {
  opacity: 0;
  visibility: hidden;
}

.jf-active *,
.jf-inactive * {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.parallax-container {
  height: 80vh;
}

.responsive-img {
  -o-object-fit: cover;
  object-fit: cover;
}

#gallery > div > ul > li.active  {
  box-shadow: 0 0 0;
}

#gallery .collapsible-header {
  padding: 0.5rem;
  padding-left: 1rem;
  height: 6rem;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 1rem;
}

#gallery .footnote {
  text-align: right;
  font-size: 1rem;
}

#marguerite .collapsible-header {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), url(../images/gallery/w1-h.jpg);
}

#modern-chinese .collapsible-header {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), url(../images/gallery/w2-h.jpg); 
}

#m-plus-e-is-love .collapsible-header {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), url(../images/gallery/w3-h.jpg); 
}

address {
  font-style: normal;
}
