.jf-loading body {
  opacity: 0;
  visibility: hidden;
}

.jf-active *,
.jf-inactive * {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.parallax-container {
  height: 80vh;
}

.responsive-img {
  -o-object-fit: cover;
  object-fit: cover;
}

#home .logo {
  position: relative;
  padding: 1.2rem;
  padding-right: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: LaCasita;
  font-size: 7.2rem;
  font-weight: normal;
  letter-spacing: 0.8rem;
  text-shadow: 4px 4px 8px black;
}

.section.title {
  height: 20vh;
}

.slogan-text {
  font-size: 2rem;
}

.section .header {
  display: inline-block;
}

.divider {
  background-color: darkgrey;
}

address {
  font-style: normal;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
