.jf-loading body {
  opacity: 0;
  visibility: hidden;
}

.jf-active *, .jf-inactive * {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

address {
  font-style: normal;
}

.parallax-container {
  height: 100vh;
}

.social-icon {
  color: lightgray;
  border-radius: 10px;
}
