.jf-loading body {
  opacity: 0;
  visibility: hidden;
}

.jf-active *, .jf-inactive * {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.parallax-container {
  height: 70vh;
}

.section.title {
  height: 30vh;
}

.fullpage {
  position: relative;
  height: 100vh;
  text-shadow: 2px 2px 5px black;
  box-shadow: inset 0 0 100px #000;
  background-size: cover;
  background-repeat: no-repeat;
}

.fullpage .col {
  margin-top: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.fullpage#zakka {
  background-image: url(/images/YIH_3124.jpg);
}

.fullpage#flower {
  background-image: url(/images/YIH_3134.jpg);
}

.fullpage#affiliates {
  background-image: url(/images/YIH_3174.jpg);
}

address {
  font-style: normal;
}

.social-icon {
  color: lightgray;
  border-radius: 10px;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}